.profile__edit-button-image {
  min-width: 8px;
  min-height: 8px;
  background-image: url(../../../images/edit-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 880px) {
  .profile__edit-button-image {
    min-width: 10px;
    min-height: 10px;
  }
}