.popup__close-button-icon {
  min-width: 20px;
  min-height: 20px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 880px) {
  .popup__close-button-icon {
    min-width: 32px;
    min-height: 32px;
  }
}