.profile__add-button-image {
  min-width: 16px;
  min-height: 16px;
  background-image: url(../../../images/add-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .profile__add-button-image {
    min-width: 22px;
    min-height: 22px;
  }
}