.place__like-button {
  margin: 30px 20px 0 0;
  padding: 0;
  border: 0;
  max-width: 20px;
  max-height: 20px;
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  background-color: #fff;
  transition: opacity .3s linear 0s;
}

.place__like-button:hover {
  opacity: .6;
  cursor: pointer;
}
