.close-button {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  max-width: 20px;
  max-height: 20px;
  background-color: #000;
  border: 0;
}

@media screen and (min-width: 880px) {
  .close-button {
    max-width: 32px;
    max-height: 32px;
  }
}